<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="C:\C#Data\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments"
		 connectionString="Server=.\sql2019;Database=Tournaments;Trusted_Connection=True;" 
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>